.headerVersion {
  background-color: var(--mantine-color-dark-9);
}

.title {
  font-size: 1.25rem !important;
  font-family: var(--mgw-poppins-font);
  font-weight: var(--mgw-light-font-weight) !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--mantine-color-green-9) !important;
}

.version {
  font-size: 4rem !important;
  font-family: var(--mgw-merriweather-font);
  font-weight: var(--mgw-bolder-font-weight) !important;
  letter-spacing: 5px;
  color: var(--mantine-color-green-9) !important;
}
