.categoryHeader {
  background: var(--mantine-color-violet-9);
  border-left: 2px solid var(--mantine-color-violet-6);
}

.entityTitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--mgw-bold-font-weight) !important;
  font-size: 1.35rem !important;
  text-shadow: 0px 0px 5px var(--mantine-color-dark-9);
  font-family: var(--mgw-poppins-font) !important;
  color: white;
}

.entityTitle:first-letter {
  font-size: 1.5rem !important;
}

.categoryDescription {
  font-size: 0.95rem !important;
  color: var(--mantine-color-gray-3) !important;
  text-shadow: 0px 0px 5px var(--mantine-color-dark-6);
}

.entityContent {
  border: 1px solid var(--mantine-color-dark-6);
  background-color: var(--mantine-color-dark-8);
}

.entityImage {
  width: auto;
  max-width: 106px;
  height: 60px;
}

.itemTitle {
  letter-spacing: 1px;
  font-weight: var(--mgw-light-font-weight) !important;
  font-size: 1.15rem !important;
  text-shadow: 0px 0px 5px var(--mantine-color-dark-9);
  font-family: var(--mgw-merriweather-font) !important;
  color: white;
}

.itemDescription {
  font-size: 0.95rem !important;
  color: white !important;
  opacity: 0.55;
}

.iconLink svg {
  width: 16px;
  height: 16px;
  color: var(--mantine-color-gray-7);
}

.iconLink:hover svg {
  color: var(--mantine-color-violet-7);
}

.unsupportedNode {
  background-color: var(--mantine-color-dark-9);
}

.unsupportedNodeText {
  opacity: 0.8;
}
