.page {
  display: grid;
  grid-template-rows: 1fr 80px;
}

.title {
  font-size: 4rem !important;
  text-transform: uppercase;
  font-family: var(--mgw-merriweather-font);
  font-weight: var(--mgw-bolder-font-weight) !important;
  letter-spacing: 5px;
  color: var(--mantine-color-violet-9) !important;
}

.description {
  font-size: 1.25rem !important;
  font-family: var(--mgw-poppins-font);
  font-weight: var(--mgw-light-font-weight) !important;
}

.link {
  color: var(--mantine-color-violet-7);
  text-decoration: none;
}

.link:hover,
.link:focus {
  outline: none;
  color: var(--mantine-color-violet-4);
}

.linkSvg {
  width: 16px;
  height: auto;
  margin-top: 2px;
}
