@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #100011 !important;
}

*::selection {
    color: #f4f4f4;
    background-color: #301e38;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #a598aa;
    border-radius: 0;
    border: none;
}

*::-webkit-scrollbar {
    width: 8px;
}